@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Guten Morgen Paul, ich habe schon mal eine Build/Deploy-Pipeline und einen Docker-Container eingerichtet.</p>
</div>
