.card-on-table {
    width: 12.5%;
    transform-origin: 50% 0%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    top: 50%;
}

#hand {
  z-index: 100;
}

#card-right {
  transform: rotate(270deg) translateY(27.5%);
}

#card-left {
  transform: rotate(90deg) translateY(27.5%);
}

#card-bottom {
  transform: translateY(27.5%);
}

#card-top {
  transform: rotate(180deg) translateY(27.5%);
}

.player-at-table {
width: max-content;
background-color: rgba(255, 255, 255, 0.8);
color: black;
padding: 5px;
border-radius: 5px;
}

.active-player {
  background-color: rgba(255, 80, 0, 0.8);
}

#player-right {
  transform: translateY(-50%);
  left: auto;
}

#player-left {
  transform: translateY(-50%);
  right: auto;
}

#player-bottom {
  top: auto;
  bottom: 5px;
}

#player-top {
  top: 5px;
}